<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" nzTitle="Add AspAccount" [nzWidth]="800" (nzOnCancel)="handleCancel()">
  <form *ngIf="account" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">FirstName</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="text" nz-input formControlName="firstName" placeholder="FirstName" [(ngModel)]="account.name" (ngModelChange)="onChange()">
        <nz-form-explain *ngIf="validateForm.get('firstName').dirty && validateForm.get('firstName').errors">Please input FirstName!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">LastName</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="text" nz-input formControlName="lastName" placeholder="LastName" [(ngModel)]="account.surname" (ngModelChange)="onChange()">
        <nz-form-explain *ngIf="validateForm.get('lastName').dirty && validateForm.get('lastName').errors">Please input LastName!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="displayName">DisplayName</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="text" nz-input formControlName="displayName" placeholder="DisplayName" [(ngModel)]="account.userName">
        <nz-form-explain *ngIf="validateForm.get('displayName').dirty && validateForm.get('displayName').errors">Please input DisplayName!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mark">Role</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group [(ngModel)]="account.mark" formControlName="mark">
          <label nz-radio-button nzValue="ASPnet CMC" [nzDisabled]="!currentRole.radioAspnet">ASPnet CMC</label>
          <label nz-radio-button nzValue="Country Coordinator" [nzDisabled]="!currentRole.radioCountry">Country Coor</label>
          <label nz-radio-button nzValue="School Coordinator" [nzDisabled]="!currentRole.radioSchool">School Coor</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="email" nz-input formControlName="email" placeholder="Email" [(ngModel)]="account.emailAddress">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="account.mark=='School Coordinator'">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="schoolName">SchoolName</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="text" nz-input formControlName="schoolName" placeholder="schoolName" [(ngModel)]="account.schoolName">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="country">Country</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="country" nzShowSearch nzAllowClear nzPlaceHolder="Select a Country" [(ngModel)]="account.country"
          [nzDisabled]="!currentRole.countrySelect">
          <nz-option *ngFor="let item of countryNodes" nzLabel="{{item.en}}" nzValue="{{item.code}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
      <button nz-button [disabled]="saving" type="button" (click)="handleCancel()"> {{l("Cancel")}}</button>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid"> {{l("Save")}}</button>

    </div>
  </form>

</nz-modal>
