<div class="row">
  <!-- Blog Content-->
  <div class="col-xl-9">
    <div class="card card-default">
      <div class="card-header">
        <div class="bb">
          <h2 class="text-lg">Membership</h2>
          <p class="clearfix">

          </p>
        </div>
      </div>
      <div class="card-body text-md">
        <div>
          <font size="4">
            <div id="ctl00_PlaceHolderMain_ctl01__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline"
              aria-labelledby="ctl00_PlaceHolderMain_ctl01_label">

              <div style="float:left">
                <img class="ms-rtePosition-1" alt="raiseyourhand.jpg" src="/assets/images/raiseyourhand.jpg" style="margin:5px;width:550px;">
              </div>
              <p>
                <span class="ms-rteFontSize-3">The UNESCO Associated Schools Network
                  (ASPnet) currently has around 10,000 members in over 180 countries. Membership is open to public or
                  private educational institutions which provide pre-primary, primary, secondary, technical or
                  vocational
                  education, or teacher training, in formal or non-formal settings.</span>
                <span class="ms-rteFontSize-3">
                  Membership is based on a firm commitment by the school leadership and community to promote the ideals
                  and values of UNESCO by reinforcing the humanistic, ethical, cultural and international dimensions of
                  education.</span>
              </p>
              <p><span class="ms-rteFontSize-3">
                  Member schools are a key promoter of UNESCO values and the integration of international perspectives
                  into schools. They volunteer to contribute to the development of innovative educational content, to
                  pioneer new teaching methods and learning approaches, to interact and collaborate with other ASPnet
                  members and to build partnerships with different stakeholders to improve their practices and become
                  agents of change in their communities. All members undertake multidisciplinary projects related to
                  peace and human rights, sustainable development, global citizenship and intercultural learning.</span></p>
              <p><span class="ms-rteFontSize-3">
                  ​​​If you represent an institution which is interested in becoming a member of the UNESCO Associated
                  Schools Network (ASPnet), the first thing you should do is to become familiar with </span><a href="http://en.unesco.org/"><span
                    class="ms-rteFontSize-3 ms-rteThemeForeColor-5-4">UNESCO's mission and work</span></a><span class="ms-rteFontSize-3">
                  and with the. The<span class="ms-rteThemeForeColor-5-4"> </span><a href="http://www.unesco.org/new/fileadmin/MULTIMEDIA/HQ/ED/pdf/unesco-aspnet-national-coordinators.pdf"
                    target="_blank"><span class="ms-rteThemeForeColor-5-4">ASPnet National Coordinator </span></a>or
                  the
                  <a href="http://www.unesco.org/new/en/member-states/countries/"><span class="ms-rteThemeForeColor-5-4">National
                      Commission for UNESCO </span></a>in your country can provide you with additional and
                  country-specific information. Furthermore, you need to consult with your school community (principal,
                  teaching and administrative staff, school board, student representatives, families) and seek their
                  agreement and support.</span></p>
              <p><span class="ms-rteFontSize-3">
                  The formal provision for a school entering the network is established through two phases, namely (i)
                  a
                  national pre-selection and, upon recommendation of the National Coordinator, (ii) a review for formal
                  admission and international certification by UNESCO. </span></p>
              <p><span class="ms-rteFontSize-3"></span><span class="ms-rteFontSize-3">Interested schools and teacher
                  training institutions may<strong> </strong><a href="/en-us/Pages/Request-to-be-a-member.aspx"><strong>apply
                      here </strong></a>to join the network.</span><br><br>
                　</p>
            </div>
          </font>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">3 {{'News.Comments' | translate}}</div>
      <div class="card-body">
        <div class="media">
          <img class="mr-3 rounded-circle thumb64" src="assets/img/user/01.jpg" />
          <div class="media-body">
            <h4 id="media-heading">
              <a href="">Susan Grant</a>
              <small>10 min</small>
            </h4>
            <p>Donec ac massa tortor. In hac habitasse platea dictumst. Nam blandit fringilla faucibus.
              Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Sed vitae nisi eget metus semper congue.</p>
            <p>Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.</p>
          </div>
        </div>
        <hr />
        <div class="media">
          <img class="mr-3 rounded-circle thumb64" src="assets/img/user/03.jpg" />
          <div class="media-body mb-3">
            <h4 id="media-heading">
              <a href="">Dustin Dunn</a>
              <small>20 min</small>
            </h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
            commodo.
            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
            nisi
            vulputate fringilla. Donec lacinia congue felis in faucibus.
            <hr />
            <div class="media">
              <img class="mr-3 rounded-circle thumb64" src="assets/img/user/06.jpg" />
              <div class="media-body">
                <h4 id="nested-media-heading">
                  <a href="">Marcus Gomez</a>
                  <small>1 hour</small>
                </h4>Integer ac nisl et urna gravida malesuada. Vivamus fermentum libero vel felis
                aliquet interdum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <em class="fas fa-pencil-alt mr-2"></em>{{'News.AddComment' | translate}}</div>
      <div class="card-body">
        <form class="form-horizontal" action="/">
          <div class="form-group row">
            <div class="col-6">
              <input class="form-control" id="post-firstname" type="text" name="post-firstname" placeholder="{{'News.Yourfirstname' | translate}}" />
            </div>
            <div class="col-6">
              <input class="form-control" id="post-lastname" type="text" name="post-lastname" placeholder="{{'News.Yourlastname' | translate}}" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <textarea class="form-control" id="post-comment" name="post-comment" rows="4" placeholder="{{'News.Commenthere' | translate}}"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <button class="btn btn-primary" type="button">{{'News.SendComment' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Blog Sidebar-->
  <div class="col-xl-3">
    <div class="row">
      <div class="col-12">
        <!-- Search-->
        <div class="card card-default">
          <div class="card-header">{{'News.Search' | translate}}</div>
          <div class="card-body">
            <form class="form-horizontal">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="{{'News.Search' | translate}}" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">
                    <em class="fa fa-search"></em>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-4 col-xl-12">
        <!-- Categories-->
        <div class="card card-default">
          <div class="card-header">{{'News.Categories' | translate}}</div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>
                <a href="javascript:void(0)">
                  <em class="fa fa-angle-right fa-fw"></em>All</a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <em class="fa fa-angle-right fa-fw"></em>Top story</a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <em class="fa fa-angle-right fa-fw"></em>News</a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <em class="fa fa-angle-right fa-fw"></em>Mark your Agenda</a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <em class="fa fa-angle-right fa-fw"></em>Arts Contest</a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <em class="fa fa-angle-right fa-fw"></em>Schools Celebrating</a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <em class="fa fa-angle-right fa-fw"></em>Essential Reading</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4 col-xl-12">
        <!-- Tag Cloud-->
        <div class="card card-default">
          <div class="card-header">{{'News.TagCloud' | translate}}</div>
          <div class="card-body">
            <div jqcloud class="mw-100" [words]="words" [width]="240" [height]="200" [steps]="7"></div>
          </div>
        </div>
      </div>
      <div class="col-4 col-xl-12">
        <!-- Ads-->
        <div class="card card-default">
          <div class="card-header">{{'News.Ads' | translate}}</div>
          <div class="card-body">
            <a href="">
              <img class="img-fluid img-thumbnail" src="assets/img/mockup.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
