<div class="content-heading">{{'News.NewArticle' | translate}}</div>
<div class="container-fluid">

    <div class="row">
        <!-- Article Content-->
        <div class="col-xl-9">
            <div class="card card-default">
                <div class="card-body">
                    <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="loginForm" novalidate=""
                        (submit)="submitForm($event, valForm.value)">
                        <input class="mb-3 form-control form-control-lg" [(ngModel)]="newInfo.title" formControlName="article-title"
                            type="text" name="article-title" placeholder="{{'News.ArticleTitle' | translate}}" />
                        <!-- Wysiswyg editor-->
                        <div id="summernote" class="summernote">
                            <span></span>
                        </div>
                        <br />
                        <p>{{'News.Abstract' | translate}}</p>
                        <textarea class="mb-3 form-control" cols="6" [(ngModel)]="newInfo.notes" formControlName="article-notes"></textarea>
                        <p>{{'News.Image' | translate}}</p>
                        <div style="margin-top:10px;margin-left:15px;">
                            <p class="pv">{{'News.CropSize' | translate}}:</p>
                            <div class="btn-group btn-group-justified mb">
                                <label class="btn btn-secondary" (click)="setSize(400,250,'Defalut')" [class.active]="currentSize=='Defalut'">{{'News.Default'
                                    | translate}}</label>
                                <label class="btn btn-secondary" (click)="setSize(400,100,'Medium')" [class.active]="currentSize=='Medium'">{{'News.Medium'
                                    | translate}}</label>
                                <label class="btn btn-secondary" (click)="setSize(400,470,'Large')" [class.active]="currentSize=='Large'">{{'News.Large'
                                    | translate}}</label>



                            </div>
                        </div>
                        <div *ngIf="sizeChange">
                            <app-cropper #cropper [height]="croppper.height" [width]="croppper.width" [image]="croppper.image"></app-cropper>

                        </div>
                        <div class="clearfix">
                            <div class="float-left">

                                <button class="btn btn-primary" type="submit">
                                    <em class="fa fa-check fa-fw"></em>{{'News.Publish' | translate}}</button>
                            </div>
                            <!-- <div class="float-right">
                                <button class="btn btn-danger" type="button">
                                    <em class="fas fa-trash-alt fa-fw"></em>Remove</button>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- Article sidebar-->
        <div class="col-xl-3">
            <div class="card card-default">
                <div class="card-body">
                    <p class="lead">{{'News.ArticleData' | translate}}</p>
                    <p class="my-2">{{'News.Categories' | translate}}</p>
                    <ngx-select [(ngModel)]="categories" name="categories" [multiple]="true" [items]="itemsCategories"></ngx-select>
                    <p class="my-2">{{'News.Tags' | translate}}</p>
                    <tag-input theme='minimal' name="tagName2" [(ngModel)]="tags" [maxItems]="3" placeholder="{{'News.EnterTag' | translate}}"></tag-input>

                    <!-- <ngx-select [(ngModel)]="tags" name="tags" [multiple]="true" [items]="itemsTags"></ngx-select> -->

                    <p class="lead mt-3">{{'News.SEOMetadata' | translate}}</p>
                    <div class="form-group">
                        <p>{{'News.Title' | translate}}</p>
                        <input class="form-control" type="text" placeholder="{{'News.BirefDescription' | translate}}"
                            [(ngModel)]="newInfo.seoTitle" name="article-seoTitle" />
                    </div>
                    <div class="form-group">
                        <p>{{'News.Description' | translate}}</p>
                        <textarea class="form-control" rows="5" placeholder="{{'News.Max255Char' | translate}}"
                            [(ngModel)]="newInfo.seoDescription" name="article-seoDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <p>{{'News.Keywords' | translate}}</p>
                        <textarea class="form-control" rows="5" placeholder="{{'News.Max1000Char' | translate}}"
                            [(ngModel)]="newInfo.keywords" name="article-keywords"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
